<div class='sidebaritem' id='headshot'>
	<img class='img img-responsive' src='/img/me.jpg' width='300'/>
</div>

<div class='sidebaritem' id='scholar'>
	<div><a target='_blank' href='https://scholar.google.com/citations?user=NWhY3-0AAAAJ'>Google Scholar</a></div>
</div>

<div class='sidebaritem' id='jmu'>
	<div><a target='_blank' href='https://cec.jmu.edu.cn/info/1009/18242.htm'>Jimei University</a></div>
</div>

<div class='sidebaritem' id='github'>
	<div><a target='_blank' href='https://github.com/zhangzongliang'>GitHub</a></div>
</div>

<div class='sidebaritem' id='orcid'>
	<div class='sidebarheader'>ORCID</div>
	<div><a target='_blank' href='https://orcid.org/0000-0002-0175-4299'>0000-0002-0175-4299</a></div>
</div>

<div class='sidebaritem' id='contactinfo'>
	<div class='sidebarheader'>E-mail</div>
	<div>zzl@jmu.edu.cn</div>
</div>


<small class="text-muted">Last updated on {{ page.date | date: "%B %d, %Y" }}</small>
